@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gilda+Display&family=Lexend:wght@100..900&display=swap');

html {
  font-size: 16px;
  font-family: sans-serif;

  --DarkColor: #252525;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

.help-text {
  cursor: help;
}
